*{
    font-family: 'Poppins', sans-serif;
}

.login {
    height: 100vh;
}

.c_minimal-text {
        width: 100%;
        max-width: auto;
        min-height: auto;
      }
      
      .c_minimal-text,
      .c_minimal-text1 {
        margin-top: 0;
        text-align: left;
        margin-bottom: 0;
      }
      
      .c_minimal-text2,
      .c_minimal-text3 {
        color: #37474f;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 43px;
      }
      
      .c_minimal-text3 {
        color: #f6b50e;
      }

.c_log-in-text, 
      .c_log-in-text1 {
        margin-top: 0;
        text-align: left;
        margin-bottom: 0;
      }
    .c_log-in-text {
        width: 100%;
        max-width: auto;
        min-height: auto;
      }
    .c_log-in-text1 {
        color: #37474f;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
      }

.c_welcome-back-text, 
    .c_welcome-back-text1 {
        margin-top: 0;
        text-align: left;
        margin-bottom: 0;
   }
    .c_welcome-back-text {
        width: 100%;
        max-width: auto;
        min-height: auto;
   }
    .c_welcome-back-text1 {
        color: #37474f;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
   }

.c_email-text {
    width: 100%;
    max-width: auto;
    min-height: auto;
    }
    .c_email-text, 
    .c_email-text1 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
    }
    .c_email-text2 {
    color: #37474f;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    }

    .c_input-with-label-frame {
      gap: 6px;
      width: 100%;
      display: flex;
      position: relative;
      max-width: 320px;
      box-sizing: border-box;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
 }
  .c_input-with-label-frame1, .c_input-with-label-instance {
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      justify-content: flex-start;
 }
  .c_input-with-label-frame1 {
      gap: 10px;
      display: flex;
      padding: 10px;
      position: relative;
      max-width: 320px;
      border-top: 1px solid #d4dbea;
      align-items: center;
      border-left: 1px solid #d4dbea;
      border-right: 1px solid #d4dbea;
      border-bottom: 1px solid #d4dbea;
      border-radius: 8px 8px 8px 8px;
 }
  .c_input-with-label-instance {
      max-width: 20px;
      align-items: flex-start;
      flex-direction: column;
 }
  .c_input-with-label-frame2 {
      width: 100%;
      max-width: 270px;
      box-sizing: border-box;
 }
  .c_input-with-label-text {
      width: 100%;
      max-width: 100%;
      margin-top: 0;
      min-height: auto;
      text-align: left;
      margin-bottom: 0;
 }
  .c_input-with-label-text1 {
      color: #677487;
      font-size: 14px;
      font-style: normal;
      margin-top: 0;
      text-align: left;
      font-family: "Poppins",sans-serif;
      font-weight: 400;
      line-height: 17px;
      margin-bottom: 0;
      letter-spacing: 0;
      text-transform: none;
 }
 
    

   
   