html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 144rem;
}
.home {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.home .group {
  box-sizing: border-box;
  padding: 4.4rem 2.9rem 21.1rem 2.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("gambar atas.jpg");
  flex-shrink: 0;
}
.home .group .frame-01 {
  margin: 0rem 11.5rem 13.4rem 10.65rem;
  width: calc(100% - 22.15rem);
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home .group .frame-01 .frame-02 {
  margin-right: 34.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home .group .frame-01 .frame-02 .minimal {
  margin-right: 47.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.home .group .frame-01 .frame-02 .minimal .minimal-sub1 {
}
.home .group .frame-01 .frame-02 .minimal-sub1 .minimal-sub2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #f6b50e;
  font-family: Poppins, "Source Sans Pro";
}
.home .group .frame-01 .frame-02 .frame-home {
  margin-bottom: 0.8rem;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.home .group .frame-01 .frame-02 .frame-home .homme {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .group .frame-01 .frame-02 .frame-home .shop {
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .group .frame-01 .frame-logo-01 {
  height: 100%;
  display: flex;
  column-gap: 3.4rem;
  align-items: center;
  flex-shrink: 0;
}
.home .group .frame-01 .frame-logo-01 .keranjang {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home .group .frame-01 .frame-logo-01 .profile {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home .group .discover {
  margin: 0rem 0rem 0.139rem 0.1rem;
  max-width: 58.7rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  flex-shrink: 0;
}
.home .group .garis-atas {
  margin: 0rem 24.05rem 4.8rem 0rem;
  width: 28.95rem;
  height: 0.8614rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home .group .auto-group {
  box-sizing: border-box;
  padding: 0rem 42rem 0rem 39.1rem;
  width: 100%;
  height: 37rem;
  flex-shrink: 0;
}
.home .group .auto-group .auto-group-mhjg-1 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home .group .auto-group .auto-group-1 .frame-explore {
  margin: 0rem 16.1rem 0rem 19.2rem;
  width: calc(100% - 35.3rem);
  height: 5.8rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  font-family: Axiforma, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6b50e;
  flex-shrink: 0;
  border-radius: 1.5rem;
}
.home .group .auto-group .auto-group-1 .auto-group-REQ {
  width: 100%;
  height: 31.2rem;
  flex-shrink: 0;
}
.home .frame-unique {
  box-sizing: border-box;
  padding-top: 12.6rem;
  width: 100%;
  height: 41.1rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home .frame-unique .frame-unique-1 {
  margin: 0rem 18.5rem 10.5rem 18.5rem;
  width: calc(100% - 37rem);
  height: 11rem;
  display: flex;
  column-gap: 25.8rem;
  align-items: center;
  flex-shrink: 0;
}
.home .frame-unique .frame-unique-1 .frame-unique-2 {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home .frame-unique .frame-unique-1 .frame-unique-2 .item-150 {
  margin-bottom: 2.3rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #29795a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-unique .frame-unique-1 .frame-unique-2 .unique-style {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2000000477;
  color: #29795a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-unique .frame-unique-1 .frame-delivery {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home .frame-unique .frame-unique-1 .frame-delivery .item-310 {
  margin-bottom: 2.3rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #29795a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-unique .frame-unique-1 .frame-delivery .delivery-product {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2000000477;
  color: #29795a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-unique .frame-unique-1 .frame-happy {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home .frame-unique .frame-unique-1 .frame-happy .item-295 {
  margin-bottom: 2.3rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #29795a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-unique .frame-unique-1 .frame-happy .happy-customer {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2000000477;
  color: #29795a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-unique .frame-unique-penutup {
  width: 100%;
  height: 64.8rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.home .frame-tengah {
  box-sizing: border-box;
  padding-top: 7.4rem;
  width: 100%;
  height: 72.5rem;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home .frame-tengah .auto-group-tengah {
  margin: 0rem 1.4rem 7.7rem 13.3rem;
  width: calc(100% - 14.7rem);
  height: 42.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home .frame-tengah .auto-group-tengah .auto-group-tengah-1 {
  margin-right: 6.3rem;
  width: 64.4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home .frame-tengah .auto-group-tengah .auto-group-tengah-1 .gambar-tengah {
  width: 64.4rem;
  height: 42.5rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
}
.home .frame-tengah .auto-group-tengah .auto-group-tengah-1 .rectangle {
  width: 64.2rem;
  height: 42.7rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  background: linear-gradient(
    360deg,
    #000000 -52.34%,
    rgba(41, 121, 90, 0) 144.96%
  );
}
.home .frame-tengah .auto-group-tengah .auto-group-tengah-1 .minimal {
  width: 16.1rem;
  height: 4.8rem;
  position: absolute;
  left: 24.25rem;
  top: 19.1rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.home
  .frame-tengah
  .auto-group-tengah
  .auto-group-tengah-1
  .minimal
  .minimal-sub-1 {
}
.home
  .frame-tengah
  .auto-group-tengah
  .auto-group-tengah-1
  .minimal
  .minimal-sub-2 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #f6b50e;
  font-family: Poppins, "Source Sans Pro";
}
.home .frame-tengah .auto-group-tengah .auto-group-our {
  margin: 4.7rem 0rem 4.4rem 0rem;
  height: calc(100% - 9.1rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home .frame-tengah .auto-group-tengah .auto-group-our .our-passion {
  margin-bottom: 5.4rem;
  max-width: 45.9rem;
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1;
  color: #29795a;
  font-family: Poppins, "Source Sans Pro";
  flex-shrink: 0;
}
.home .frame-tengah .auto-group-tengah .auto-group-our .our-mission {
  margin-bottom: 2.8rem;
  max-width: 58.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #686767;
  font-family: Poppins, "Source Sans Pro";
  flex-shrink: 0;
}
.home .frame-tengah .auto-group-tengah .auto-group-our .explore-all {
  width: 22rem;
  height: 5.8rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  font-family: Axiforma, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6b50e;
  flex-shrink: 0;
}
.home .frame-tengah .frame-tutup {
  width: 100%;
  height: 51.4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.home .frame-bawah {
  box-sizing: border-box;
  padding: 4.2rem 13.5rem 16.3rem 13.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home .frame-bawah .group-bawah {
  margin: 0rem 9.2rem 17.4rem 5.1rem;
  width: calc(100% - 14.3rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home .frame-bawah .group-bawah .our-best {
  margin: 0rem 0rem 9.2rem 4.9rem;
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1;
  color: #29795a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-bawah .group-bawah .frame-bawah-putih {
  width: 100%;
  height: 40.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home .frame-bawah .group-bawah .frame-bawah-putih .frame-gambar-putih {
  height: 100%;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-putih
  .rak-putih {
  width: 27rem;
  height: 27rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-putih
  .brimnes {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-putih
  .cabinet {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #8c8c8c;
  font-family: Axiforma, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-bawah .group-bawah .frame-bawah-putih .frame-gambar-putih .harga {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2000000694;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-bawah .group-bawah .frame-bawah-putih .frame-gambar-minimalis {
  box-sizing: border-box;
  padding: 2.8rem 0rem 0rem 13.2rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.home
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-minimalis
  .frame-16 {
  margin-right: 17.3rem;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-minimalis
  .frame-16
  .kursi-minimalis {
  width: 16.1rem;
  height: 22.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-minimalis
  .frame-16
  .minimalist {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home-
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-minimalis
  .frame-16
  .cabinet {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #8c8c8c;
  font-family: Axiforma, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-minimalis
  .frame-16
  .harga {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2000000694;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-minimalis
  .frame-17 {
  height: 100%;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-minimalis
  .frame-17
  .meja-rak {
  width: 17.1rem;
  height: 24.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-minimalis
  .frame-17
  .table-shelf {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-minimalis
  .frame-17
  .cabinet-kayu {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #8c8c8c;
  font-family: Axiforma, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home
  .frame-bawah
  .group-bawah
  .frame-bawah-putih
  .frame-gambar-minimalis
  .frame-17
  .harga {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2000000694;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-bawah .discount {
  box-sizing: border-box;
  padding: 7.3rem 10.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8000000119) 11.88%,
    rgba(0, 0, 0, 0.8000000119) 52.61%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("gambar bawah.jpg");
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.home .frame-bawah .discount .get-discount {
  margin-bottom: 9.4rem;
  max-width: 33.2rem;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.2000000363;
  color: #ffffff;
  font-family: Axiforma, "Source Sans Pro";
  flex-shrink: 0;
}
.home .frame-bawah .discount .explore {
  margin-left: 0.2rem;
  width: 22rem;
  height: 5.8rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  font-family: Axiforma, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6b50e;
  flex-shrink: 0;
}
.home .frame-alamat {
  width: 100%;
  height: 38.8rem;
  position: relative;
  background-color: #29795a;
  flex-shrink: 0;
}
.home .frame-alamat .group-alamat {
  width: 128.7rem;
  height: 9.2rem;
  position: absolute;
  left: 3.7rem;
  top: 12.7rem;
  display: flex;
  align-items: flex-start;
}
.home .frame-alamat .group-alamat .jalan {
  margin: 0.4rem 88.1rem 0rem 0rem;
  max-width: 27.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.26;
  color: #ffffff;
  font-family: Plus Jakarta Sans, "Source Sans Pro";
  flex-shrink: 0;
}
.home .frame-alamat .group-alamat .logo {
  margin-right: 2.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home .frame-alamat .group-alamat .logo .fb {
  margin-bottom: 1.2rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3.4rem;
  flex-shrink: 0;
}
.home .frame-alamat .group-alamat .logo .ig {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3.4rem;
  flex-shrink: 0;
}
.home .frame-alamat .group-alamat .bagian-minimal {
  margin: 0.8rem 0;
  height: calc(100% - 1.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home .frame-alamat .group-alamat .bagian-minimal .minimal-01 {
  margin-bottom: 2.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-alamat .group-alamat .bagian-minimal .minimal-02 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-alamat .group-minimal {
  width: 81.6rem;
  height: 4.2rem;
  position: absolute;
  left: 3.95rem;
  top: 7.9rem;
  display: flex;
  align-items: flex-end;
}
.home .frame-alamat .group-minimal .sub-minimal {
  margin: 0rem 42.7rem 0.6rem 0rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.home .frame-alamat .group-minimal .sub-minimal .minimal-sub-1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
}
.home .frame-alamat .group-minimal .sub-minimal .minimal-sub-2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #f6b50e;
  font-family: Poppins, "Source Sans Pro";
}
.home .frame-alamat .group-minimal .home-about-shop {
  margin-top: 1.8rem;
  display: flex;
  column-gap: 5.3rem;
  align-items: center;
  flex-shrink: 0;
}
.home .frame-alamat .home-about-shop .homme {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-alamat .group-minimal .home-about-shop .shop {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-alamat .privacy {
  width: 129.6rem;
  height: 0.1rem;
  position: absolute;
  left: 3.7rem;
  top: 31rem;
  background-color: #ffffff;
}
.home .frame-alamat .group-privacy {
  width: 78.8rem;
  height: 2.8rem;
  position: absolute;
  left: 3.7rem;
  top: 32.2rem;
  display: flex;
  align-items: center;
}
.home .frame-alamat .group-privacy .privacy-polisi {
  margin: 0rem 46.1rem 0.3rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  color: #ffffff;
  font-family: Plus Jakarta Sans, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.home .frame-alamat .group-privacy .copyright {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
