html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  min-height: 100vh;
}
.card {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.card .auto-group {
  box-sizing: border-box;
  padding: 4.4rem 7rem 65.8rem 7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card .auto-group .nav-bar {
  margin: 0rem 6.8rem 11.2rem 6.95rem;
  width: calc(100% - 13.75rem);
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.card .auto-group .nav-bar .nav-bar-1 {
  margin-right: 34.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.card .auto-group .nav-bar .nav-bar-1 .minimal {
  margin-right: 37.35rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #312d2d;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.card .auto-group .nav-bar .nav-bar-1 .minimal .mini {
}
.card .auto-group .nav-bar .nav-bar-1 .minimal .mal {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #f6b50e;
  font-family: Poppins, "Source Sans Pro";
}
.card .auto-group .nav-bar .nav-bar-1 .navbar {
  margin-bottom: 0.8rem;
  display: flex;
  column-gap: 7rem;
  align-items: center;
  flex-shrink: 0;
}
.card .auto-group .nav-bar .nav-bar-1 .navbar .home {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #312d2d;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .nav-bar .nav-bar-1 .navbar .about {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #312d2d;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .nav-bar .nav-bar-1 .navbar .shop {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #312d2d;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .nav-bar .icon {
  height: 100%;
  display: flex;
  column-gap: 3.4rem;
  align-items: center;
  flex-shrink: 0;
}
.card .auto-group .nav-bar .icon .search-NaL {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.card .auto-group .nav-bar .icon .cart {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.card .auto-group .nav-bar .icon .icon-profil {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.card .auto-group .image {
  margin-bottom: 4.7rem;
  width: 100%;
  height: 39.3rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/image-2-bg-egx.png");
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.card .auto-group .nav-item {
  margin: 0rem 79.4rem 2.5rem 0rem;
  height: 4.6rem;
  display: flex;
  column-gap: 2.8rem;
  align-items: center;
  flex-shrink: 0;
}
.card .auto-group .nav-item .all {
  width: 7.6rem;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2000000694;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #29795a;
  border-radius: 2.3rem;
  flex-shrink: 0;
}
.card .auto-group .nav-item .sofa {
  width: 9.8rem;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2000000694;
  color: #29795a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 2.3rem;
  flex-shrink: 0;
}
.card .auto-group .nav-item .cabinet {
  width: 13.8rem;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2000000694;
  color: #29795a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 2.3rem;
  flex-shrink: 0;
}
.card .auto-group .nav-item .chair {
  width: 11rem;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2000000694;
  color: #29795a;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 2.3rem;
  flex-shrink: 0;
}
.card .auto-group .card-box {
  margin: 0rem 0.8rem 7.2rem 0.8rem;
  width: calc(100% - 1.6rem);
  height: 44rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text {
  box-sizing: border-box;
  padding: 1rem 1.1rem 0.9rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ececec;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .image {
  margin-bottom: 1.7rem;
  width: 27rem;
  height: 27rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .size {
  row-gap: 1.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .size .brimnes {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .size .text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #676767;
  font-family: Axiforma, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .size .price {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2000000694;
  color: #000000;
  font-family: Axiforma, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text {
  box-sizing: border-box;
  padding: 1rem 1.1rem 0.9rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ececec;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .image {
  margin-bottom: 1.7rem;
  width: 27rem;
  height: 27rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .text {
  row-gap: 1.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .text .koersi {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .text .chair {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #676767;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .text .price {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2000000694;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text {
  box-sizing: border-box;
  padding: 1rem 1.1rem 0.9rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ececec;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .image {
  margin-bottom: 1.7rem;
  width: 27rem;
  height: 27rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .text {
  row-gap: 1.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .text .minimal-sofa {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .text .sofa {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #676767;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .text .price {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2000000694;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text {
  box-sizing: border-box;
  padding: 1rem 1.1rem 0.9rem 1rem;
  width: 29.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ececec;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .image {
  margin-bottom: 1.7rem;
  width: 27rem;
  height: 27rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .text {
  width: 100%;
  row-gap: 1.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .text .white-chabin {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .text .cabinet {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #676767;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .card-box .card-text .text .price {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2000000694;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .box {
  margin: 0 0.8rem;
  width: calc(100% - 1.6rem);
  height: 44rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.card .auto-group .box .card-text {
  box-sizing: border-box;
  padding: 1rem 1.1rem 0.9rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ececec;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .image {
  margin-bottom: 1.7rem;
  width: 27rem;
  height: 27rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text {
  row-gap: 1.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text .red-chair {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text .office-chair {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #676767;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text .price {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2000000694;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .box .frame-10-sEp {
  box-sizing: border-box;
  padding: 1rem 1.1rem 0.9rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ececec;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .image {
  margin-bottom: 1.7rem;
  width: 27rem;
  height: 27rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text {
  row-gap: 1.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text .chair-wood {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text .wood {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #676767;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text .price {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2000000694;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .box .card-text {
  box-sizing: border-box;
  padding: 1rem 1.1rem 0.9rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ececec;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .image {
  margin-bottom: 1.7rem;
  width: 27rem;
  height: 27rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text {
  row-gap: 1.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text .SKRUVY {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text .skruvy {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #676767;
  font-family: Axiforma, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text .price {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2000000694;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .box .card-text {
  box-sizing: border-box;
  padding: 1rem 1.1rem 0.9rem 1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ececec;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .image {
  margin-bottom: 1.7rem;
  width: 27rem;
  height: 27rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text {
  row-gap: 1.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text .GLOSTAD {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text .seater {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #676767;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .auto-group .box .card-text .text .price {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2000000694;
  color: #000000;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .back-ground {
  box-sizing: border-box;
  padding: 13.2rem 8.6rem 4rem 5.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #29795a;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg {
  margin-bottom: 7.3rem;
  width: 100%;
  height: 10.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg .text {
  width: 27.7rem;
  height: 100%;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg .text .minimal {
  margin-bottom: 1.6rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.card .back-ground .auto-group-bg .text .minimal .mini {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
}
.card .back-ground .auto-group-bg .text .minimal .mal {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #f6b50e;
  font-family: Poppins, "Source Sans Pro";
}
.card .back-ground .auto-group-bg .text .alamat {
  max-width: 27.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.26;
  color: #ffffff;
  font-family: Plus Jakarta Sans, "Source Sans Pro";
}
.card .back-ground .auto-group-bg .auto-group-nav {
  box-sizing: border-box;
  padding: 1rem 0rem 0.1rem 25.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg .auto-group-nav .auto-bar {
  margin: 0rem 37rem 6.8rem 0rem;
  display: flex;
  column-gap: 5.3rem;
  align-items: center;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg .auto-group-nav .auto-bar .home {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg .auto-group-nav .auto-bar .about-us {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg .auto-group-nav .auto-bar .shop {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg .auto-group-nav .icon {
  margin-right: 2.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg .auto-group-nav .icon .icon-fb {
  margin-bottom: 1.2rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3.4rem;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg .auto-group-nav .icon .icon-ig {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3.4rem;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg .auto-group-nav .group-minimal {
  margin: 0.8rem 0;
  height: calc(100% - 1.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg .auto-group-nav .group-minimal .minimal {
  margin-bottom: 2.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .back-ground .auto-group-bg .auto-group-nav .group-minimal .minimal {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .back-ground .line {
  margin-bottom: 1.1rem;
  width: 129.6rem;
  height: 0.1rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.card .back-ground .group {
  margin-right: 51.2rem;
  width: calc(100% - 51.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.card .back-ground .group .privacy {
  margin: 0rem 46.1rem 0.3rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  color: #ffffff;
  font-family: Plus Jakarta Sans, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.card .back-ground .group .text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #ffffff;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
